<%- include('partials/header') %>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    URL Not Found | 404
                </h1>
                <h2 class="subtitle">
                    please check your url or back to <u><a href="/">home</a></u>
                </h2>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>