<%- include('partials/header') %>
    <%- include('partials/nav') %>
        <section class="container">
            <div class="columns is-12">
                <div class="column is-4"></div>
                <div class="column is-4">
                    <form action="/auth/signin" method="post">

                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" name="username" type="text" placeholder="Username" value="">
                                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                                <span class="icon is-small is-right"></span>
                            </div>
                            <!-- <p class="help is-success">This username is available</p> -->
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" name="password" type="password" placeholder="Password">
                                <span class="icon is-small is-left"><i class="fas fa-password"></i></span>
                                <!-- <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i></span> -->
                            </div>
                            <!-- <p class="help is-danger">This email is invalid</p> -->
                        </div>

                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-link is-block">Signin</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="columm is-4"></div>
            </div>
        </section>
        <%- include('partials/footer') %>